/* Soluzione qui */
/*Modalità Tablet (sopra i 768px)

Il logo nell'header si allinea a sinistra
Il padding del contenuto principale della pagina aumenta
Compare il testo "(Dolce Tradizionale)"
La grandezza del titolo diventa più grande
Le informazioni della ricetta sotto il video si dispongono a griglia
I bottoni social si allargano
compare il banner pubblicitario
l'immagine nella descrizione della ricetta viene circondata dal testo*/


    
@media screen and (min-width:768px){
    #topbar{
        justify-content:start;
    }
    
    main{
        padding:30px;

    }
    .recipe-origin{
        display: contents;
    }
    .recipe-name {
	
	font-size: 30px;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tre colonne di uguale larghezza */
        grid-gap: 10px; 

    }
    .social-networks button {
	    min-width:80px;
    }
    .ads {
	    display:contents;
	
    }
    .presentation img {
        
        display:inline-block;
     
    }
    
   /* non riesco a finire l'ultimo punto*/
}

/*
Modalità Desktop(sopra i 992px)

La grandezza el titolo della ricetta aumenta ancora di più
Le informazioni della ricetta tornano a disporsi una sotto l'altra
Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro
Compaiono i nomi delle piattaforme social
Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti*/

@media screen and (min-width:992px){
     .recipe-name {
	
	font-size: 50px;
    }
    ul{
        display:contents
       

    }
    .recipe-card {
	display: flex;
    justify-content: center;
    
    }
    .recipe-video {
	width: 100%;;
    }
    .social-networks .label {
	display: contents;
    }
    
footer {
	display: flex;
    justify-content: space-between;
}

}